openapi: 3.1.0
info:
  title: JumpCloud API V1
  description: >-
    REST API for managing core JumpCloud directory resources including
    applications, application templates, commands, and command results.
    Authenticated via the x-api-key header obtained from the JumpCloud
    Admin Console (username dropdown > API Settings). Multi-tenant
    administrators must additionally pass an x-org-id header.
  version: "1.0"
  contact:
    name: JumpCloud
    url: https://docs.jumpcloud.com/api/1.0/index.html
servers:
  - url: https://console.jumpcloud.com/api
    description: JumpCloud production API
security:
  - ApiKeyAuth: []
paths:
  /application-templates:
    get:
      summary: List SSO/SAML application templates
      description: Returns the list of pre-built application templates available for SSO/SAML integration.
      operationId: listApplicationTemplates
      tags:
        - Application Templates
      responses:
        "200":
          description: A list of application templates.
  /application-templates/{id}:
    get:
      summary: Retrieve an application template
      description: Returns a specific application template by its identifier.
      operationId: getApplicationTemplate
      tags:
        - Application Templates
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        "200":
          description: The requested application template.
        "404":
          description: Application template not found.
  /applications:
    get:
      summary: List SSO/SAML applications
      description: Returns the list of configured SSO/SAML applications for the organization.
      operationId: listApplications
      tags:
        - Applications
      responses:
        "200":
          description: A list of applications.
    post:
      summary: Create an SSO/SAML application
      description: Creates a new SSO/SAML application in the organization.
      operationId: createApplication
      tags:
        - Applications
      responses:
        "201":
          description: The created application.
  /applications/{id}:
    get:
      summary: Retrieve an application
      operationId: getApplication
      tags:
        - Applications
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        "200":
          description: The requested application.
    put:
      summary: Update an application
      operationId: updateApplication
      tags:
        - Applications
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        "200":
          description: The updated application.
    delete:
      summary: Delete an application
      operationId: deleteApplication
      tags:
        - Applications
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        "204":
          description: Application deleted.
  /commands:
    get:
      summary: List commands
      description: Returns the list of commands defined for the organization.
      operationId: listCommands
      tags:
        - Commands
      responses:
        "200":
          description: A list of commands.
    post:
      summary: Create a command
      description: Creates a new command definition that can later be triggered on systems.
      operationId: createCommand
      tags:
        - Commands
      responses:
        "201":
          description: The created command.
  /commandresults:
    get:
      summary: List command results
      description: Returns the list of execution results for previously triggered commands.
      operationId: listCommandResults
      tags:
        - Command Results
      responses:
        "200":
          description: A list of command results.
  /commandresults/{id}:
    get:
      summary: Retrieve a command result
      operationId: getCommandResult
      tags:
        - Command Results
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        "200":
          description: The requested command result.
    delete:
      summary: Delete a command result
      operationId: deleteCommandResult
      tags:
        - Command Results
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        "204":
          description: Command result deleted.
  /command/trigger/{triggername}:
    post:
      summary: Trigger a command
      description: Executes a command by its configured trigger name.
      operationId: triggerCommand
      tags:
        - Commands
      parameters:
        - name: triggername
          in: path
          required: true
          schema:
            type: string
          description: The configured trigger name of the command to execute.
      responses:
        "200":
          description: Trigger acknowledged.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: JumpCloud API key from the Admin Console > API Settings.
  parameters:
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Resource identifier.
tags:
  - name: Application Templates
    description: SSO/SAML application templates available for use.
  - name: Applications
    description: SSO/SAML applications configured in the organization.
  - name: Commands
    description: Commands that can be executed across managed systems.
  - name: Command Results
    description: Execution results produced by commands run against systems.
