openapi: 3.1.0
info:
  title: JumpCloud API V1 Application Templates API
  description: REST API for managing core JumpCloud directory resources including applications, application templates, commands, and command results. Authenticated via the x-api-key header obtained from the JumpCloud Admin Console (username dropdown > API Settings). Multi-tenant administrators must additionally pass an x-org-id header.
  version: '1.0'
  contact:
    name: JumpCloud
    url: https://docs.jumpcloud.com/api/1.0/index.html
servers:
- url: https://console.jumpcloud.com/api
  description: JumpCloud production API
security:
- ApiKeyAuth: []
tags:
- name: Application Templates
  description: SSO/SAML application templates available for use.
paths:
  /application-templates:
    get:
      summary: List SSO/SAML application templates
      description: Returns the list of pre-built application templates available for SSO/SAML integration.
      operationId: listApplicationTemplates
      tags:
      - Application Templates
      responses:
        '200':
          description: A list of application templates.
  /application-templates/{id}:
    get:
      summary: Retrieve an application template
      description: Returns a specific application template by its identifier.
      operationId: getApplicationTemplate
      tags:
      - Application Templates
      parameters:
      - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: The requested application template.
        '404':
          description: Application template not found.
components:
  parameters:
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Resource identifier.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: JumpCloud API key from the Admin Console > API Settings.
